name: Build and Push Docker Images to DigitalOcean

on:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to DigitalOcean Registry
        uses: docker/login-action@v3
        with:
          registry: registry.digitalocean.com
          username: ${{ secrets.DO_TOKEN }}
          password: ${{ secrets.DO_TOKEN }}

      - name: Build and push FastAPI image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: api/Dockerfile
          push: true
          tags: registry.digitalocean.com/drug-registry/drug-api:latest

      - name: Build and push Streamlit image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: streamlit/Dockerfile
          push: true
          tags: registry.digitalocean.com/drug-registry/drug-streamlit:latest
